extends layout

block content
  h1= title
  p Welcome to #{title}
  p= 'Full Name: ' + data.fullname
  p= 'Email: ' + data.email
  p= 'DOB: ' + data.dateofbirth
  p= 'Gender: ' + data.gender
  p= 'Address: ' + data.address